/* VARIABLES */
.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a, .dropdown > .dropdown-menu > li > a {
  color: #474e56;
  font-weight: bolder;
  font-family: "bebas-neue", sans-serif;
  text-transform: uppercase; }

.btn.btn-primary {
  background-color: transparent;
  border-color: #474e56;
  color: #474e56;
  font-family: "calluna", serif;
  font-size: 18px;
  margin-bottom: 10px; }

.table.table-stiped {
  font-family: "calluna", serif;
  font-size: 15px;
  font-weight: bold; }

.container > h1 {
  font-family: "bebas-neue", sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  color: #474e56; }

td > a:hover, .btn.btn-primary:hover, .panel-body > a:hover {
  background-color: #474e56;
  color: white;
  text-decoration: none;
  cursor: pointer; }

th, .panel.panel-default > .panel-heading {
  background-color: #474e56;
  color: white;
  font-family: "bebas-neue", sans-serif;
  font-weight: bolder;
  text-transform: uppercase; }

table {
  border: 3px solid black; }

td > a, .panel-body > a {
  border: 1px solid black;
  color: #474e56;
  padding: 5px;
  border-radius: 4px;
  margin-top: 15px; }

.container > table > tbody > tr:hover, .container > table > tbody > tr:nth-child(odd):hover {
  background-color: rgba(200, 158, 103, 0.72); }

.container > table > tbody > tr:nth-child(odd) {
  background-color: white; }

.container > .table > tbody > tr > td, .container > table > tbody > tr:nth-child(odd) {
  padding: 15px; }

html body {
  font-family: "calluna", serif;
  color: #474e56;
  font-weight: bold;
  font-size: 15px; }

.navbar-default .container-fluid .navbar-nav > li > a:hover {
  color: black; }

.container > .row > .col-md-4.col-xs-12 > a, .panel.panel-default > ul > li > a, .navbar-collapse > .navbar-nav > li > a, .navbar-default .container-fluid .navbar-nav > li > a, .navbar-default .container-fluid .navbar-brand {
  color: #474e56; }

.navbar-default .container-fluid .navbar-nav .active > a {
  background-color: inherit; }

.navbar-default .container-fluid .navbar-nav .active > a:hover {
  background-color: inherit;
  color: black; }

nav.navbar.navbar-default > .container-fluid, .navbar-default .container-fluid .navbar-nav > .open > a, .navbar-default .container-fluid .navbar-nav > .open > a:hover, .navbar-default .container-fluid .navbar-nav > .open > a:focus,
.navbar-default .container-fluid .navbar-nav > .open > .dropdown-menu, .navbar-default .container-fluid .navbar-nav > .open > .dropdown-menu > li > a:hover, .navbar-default .container-fluid .navbar-nav > .open > .dropdown-menu > li > a:focus {
  background-color: rgba(170, 133, 87, 0.98); }

.navbar-default > .container-fluid > .navbar-header > .navbar-toggle {
  border-color: #474e56; }

.navbar-default > .container-fluid > .navbar-header > .navbar-toggle > .icon-bar {
  background-color: #474e56; }

.navbar-default > .container-fluid > .navbar-header > .navbar-toggle:hover, .navbar-default > .container-fluid > .navbar-header > .navbar-toggle:active {
  background-color: #474e56; }

.navbar-default > .container-fluid > .navbar-header > .navbar-toggle:hover > .icon-bar {
  background-color: rgba(170, 133, 87, 0.98); }

.container-fluid > .navbar-collapse, .navbar-default .container-fluid .navbar-nav > .open > .dropdown-menu > .divider {
  border-top: none; }

.container-fluid > .navbar-header > .navbar-toggle:focus, .dropdown > .dropdown-menu > .divider {
  background-color: inherit; }

.dropdown > .dropdown-menu > li > a {
  font-family: "bebas-neue", sans-serif;
  color: #474e56; }

.container > .row > [class*="col-md-"], [class*="col-xs-"], [class*="col-sm-"], [class*="col-lg-"] {
  width: 100%; }

.panel-body > p, .list-group-item {
  text-align: center; }

.col-md-4.col-xs-12 > a {
  position: absolute;
  margin-top: 100px;
  border: 1px solid black;
  color: #474e56;
  padding: 5px;
  border-radius: 4px; }

.container > [class*="col-md-"] [class*="col-xs-"] > a:hover {
  background-color: #474e56;
  color: white;
  text-decoration: none;
  cursor: pointer; }

@media screen and (max-width: 845px) {
  th:nth-child(4) {
    display: none; }

  td:nth-child(4) {
    display: none; } }
@media screen and (max-width: 700px) {
  th:nth-child(3) {
    display: none; }

  td:nth-child(3) {
    display: none; } }
.container {
  overflow-x: auto; }

/*# sourceMappingURL=style.css.map */
